.release-view
    .cover
        position relative

    .cover-plate
        position absolute
        bottom 0
        background-color rgba(255, 255, 255, 0.8)
        color #000
        width 100%
        padding 0.7em 0.7em

        .title
            font-size 6vw

        .credits
            font-size 4vw
            color #333

        .info
            display inline-block
            font-size 3vw
            color #333
            padding-top 2vw
