#app-window
    position absolute
    top 0px
    left 0px
    // width 400px
    // height 500px
    width 100%
    height 100%
    overflow hidden
    background-color white


.scrollable
    width 100%
    height 100%
    overflow-y auto
    -webkit-overflow-scrolling touch


.full
    width 100%
    height 100%
    overflow hidden


.top-page
.page
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    background-color white


.page
    transform translate3d(0, 0, 10px)
    // z-index: -10

.top-page
    // z-index: 0
    transform translate3d(0, 0, 0)


.page-content
    width 100%
    height calc(100% - 64px)


.aspect-2x1
    width 100%
    padding-bottom 50%
    position relative


.aspect-1x1
    width 100%
    padding-bottom 100%
    position relative


.with-aspect
    position absolute
    top 0
    left 0
    right 0
    bottom 0
