cell-border = 1px solid #eee

.mobscreen
    .release
        width 50%
        height 100%

    .release:first-child
        border-right cell-border

    .playlist
        width 100%
        height 100%

    .release, .playlist
        display inline-block
        box-sizing: border-box
        border-bottom cell-border
