.track-list

    .track-list-item
        display flex
        line-height 14vw
        font-size 3.7vw
        border-bottom 1px solid #ccc

        .pos
            display block-inline
            flex 0 0 auto
            min-width 1.5em
            text-align right
            padding 0 0.5em
            color: #777

        .duration
            display block-inline
            flex 0 0 auto
            min-width 4em
            text-align right
            padding 0 1em 0 0
            font-size 3.3vw

        .title
            display block-inline
            flex 1 1 auto
